img {
  max-width: 230px;
  max-height: 260px;
}

.productCard {
  background-color: #ffff;
}

.cartCard {
  background-color: #ffff;
  display: flex;
  align-items: center;
}

.cartCard img {
  max-width: 80px;
}