img {
  max-width: 230px;
  max-height: 260px;
}

.productCard {
  background-color: #ffff;
}

.cartCard {
  background-color: #ffff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.cartCard img {
  max-width: 80px;
}

.cartCard>.cartProductInfo {
  display: flex;
  align-items: center;
}

/* target the counter and price elements */
.cartCard>div:nth-of-type(2), .cartCard>p {
  align-self: center;
  justify-self: center;
}

.deleteButton {
  align-self: center;
  justify-self: center;
  font-size: 16px;
  color: #727a82;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #ffff;
  border: none;
  padding: 2px 6px;
}

.deleteButton::before {
  content: url(../../icons/delete-icon.svg);
}

.deleteButton:hover {
  cursor: pointer;
}