nav {
  background-color: #ffff;
  padding: 14px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

ul {
  padding: 0;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #343a40; 
  display: flex;
  border-radius: 12px;
  transition: background-color 0.3s ease-out;
}

a:hover {
  background-color: #aab0b6;
}

nav svg {
  width: 1.8em;
  height: 1.8em;
}

.itemsNumber {
  color: #fefefe;
  text-align: center;
  padding: 4px;
  width:  15px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #ffc107;
  display: inline-block;
  transform: translate(15px, -9px);
  position:absolute;
}

.logo {
  color: slateblue;
  font-size: 1.4em;
  font-weight: bold;
}

.logo:hover {
  background: none;
}